h1{
color: blue;  
    background-color:#92c5d1 ;
    border-radius: 10px;
}
body{
    background-color: #45d38e;
}
img{
  margin-top: 40px;
  margin-bottom: 40px ;
 border-radius: 25px;
  margin-left: 40px;
  border: 2px solid black;
  align-items: center;

}
